.landing-page {
    margin-top: 50px;
}

.landing-page-content, .landing-page-dialog {
    padding-left: 40px;
    padding-right: 40px;
}

.landing-page-content {
    padding-right: 40px;
}

.landing-page-content h1, .landing-page-content h3{
    width: 100%;
}

.landing-page-content h1 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.landing-page-content h3 {
    margin-top: 5px;
}

.landing-page-content p {
    text-align: justify;
    color: gray;
}