@import './../../theme.scss';

.landing-page {

  .geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }

  .geosuggest__item--active {
    background: #267dc0;
    color: #fff;
  }

  .landing-page-content {
    padding-right: 40px;

    .landing-page-dialog {
      padding-left: 40px;
      padding-right: 40px;
    }

    h1, h3 {
      width: 100%;
    }

    h1 {
      margin-bottom: 5px;
      margin-top: 0px;
    }

    h3 {
      margin-top: 5px;
    }

    p {
      text-align: justify;
      color: gray;
    }
  }
}