@import './../../theme.scss';

.landing-page {
  .container{
    display: flex;
    align-items: stretch;
    max-width: 1050px;
    margin: 0 auto;

  .geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }

  .geosuggest__item--active {
    background: #267dc0;
    color: #fff;
  }

  .landing-page-content {
    margin-top: 2.5%;

    .landing-page-dialog {
      padding-left: 40px;
      padding-right: 40px;
    }

    h1, h3 {
      width: 100%;
    }

    h1 {
      margin-bottom: 5px;
      margin-top: 0px;
    }

    h3 {
      margin-top: 5px;
    }

    p {
      text-align: justify;
      color: gray;
    }
  }
}
}