header {
    display: flex;
    background-color: lightgray;
}

header .logo {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header .header-button {
    margin-left: 10px;
    margin-right: 10px; 
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: gray;
    transition: 0.2s ease;
}

header .header-button:hover {
    background-color: rgb(133, 133, 133);
    color: white;
}